@model review_v2.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="~/web/css/bootstrap.min.css">
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="~/web/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/web/css/style-responsive.css" rel="stylesheet" />
    <!-- font CSS -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/web/css/font.css" type="text/css" />
    <link href="~/web/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <script src="~/web/js/jquery2.0.3.min.js"></script>
</head>

<div class="log-w3">
    <div class="w3layouts-main">
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                
                    <div class="box-body">
                        
                        <h2 class="box-title">@review_v2.Resources.MyTexts.SureDeleteCompany</h2>
                        
                        <div class="box-body">
                            <div class="form-horizontal">

                                <b style="color:#8b5c7e;">
                                    @Html.DisplayNameFor(model => model.UserName):
                                </b>



                                @Html.DisplayFor(model => model.UserName)
                                <br />

                                <b style="color:#8b5c7e;" hidden>
                                    @Html.DisplayNameFor(model => model.PasswordHash):
                                </b>


                                <p hidden>
                                    @Html.DisplayFor(model => model.PasswordHash)
                                </p>
                                <br />

                                <b style="color:#8b5c7e;">
                                    @Html.DisplayNameFor(model => model.Email):
                                    </b>



                                    @Html.DisplayFor(model => model.Email)

                            </div>
                           
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value=@review_v2.Resources.MyTexts.Delete class="btn btn-danger" />
                                </div>
                           
                        </div>
                    </div>
                
            }

        }
        </div>
    </div>

