@model IEnumerable<review_v2.Models.ApplicationUser>


<head>
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using Microsoft.AspNet.Identity

<header class="header fixed-top clearfix">
    <!--logo start-->
    <div class="brand">
        <a href="/Home/Index" class="logo">
            REVIEWERY
        </a>
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
        </div>
    </div>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">


            <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
    </div>
    <div class="top-nav clearfix">
        <!--search & user info start-->
        @*<ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        @if (!string.IsNullOrEmpty(Model?.UserImageURL))
                        {
                            <img class="img-circle img-sm" src="~/ProductsImages/@Model.UserImageURL" alt="User Image">
                        }
                        else
                        {
                            <img class="img-circle img-sm" src="~/ProductsImages/defaultUser.jpg" alt="User Image">
                        }
                        <span class="username">@User.Identity.GetUserName()</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <li><a href="~/Admin/IndexPofile"><i class=" fa fa-suitcase"></i>Profile</a></li>
                        <li>
                            <a href="/Admin/EditProfile/@Session["UserID"]">
                                <i class="fa fa-cog"></i>
                                Settings
                            </a>
                        </li>

                    </ul>
                </li>
            <!-- user login dropdown end -->

        </ul>*@
        <!--search & user info end-->
    </div>
</header>

<section id="main-content">
    <section class="wrapper">

        <h2>@review_v2.Resources.MyTexts.AdminsList </h2>
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            if (!Model.Any())
            {
                <p>@review_v2.Resources.MyTexts.DontHaveAdmin </p>
            }
            else
            {
                <div class="box box-primary">

                    <!-- /.box-header -->
                    <div class="box-body">

                        <table id="example1" class="table table-bordered table-agile-info">
                            <thead>


                                <tr>
                                    <th style="background-color:#DDEDE0">
                                        <h3 style="color:#8b5c7e ">
                                            @review_v2.Resources.MyTexts.AdminImage
                                        </h3>
                                    </th>
                                    <th style="background-color:#DDEDE0">
                                        <h3 style="color:#8b5c7e ">
                                            @Html.DisplayNameFor(model => model.UserName)
                                        </h3>
                                    </th>
                                    <th style="background-color:#DDEDE0">
                                        <h3 style="color:#8b5c7e ">
                                            @Html.DisplayNameFor(model => model.Email)
                                        </h3>
                                    </th>
                                    <th style="background-color:#DDEDE0">
                                        <h3 style="color:#8b5c7e ">
                                            @Html.DisplayNameFor(model => model.PhoneNumber)
                                        </h3>
                                    </th>

                                    <th style="background-color:#DDEDE0"><h3 style="color:#8b5c7e "> @review_v2.Resources.MyTexts.Action</h3> </th>
                                    <th style="background-color:#DDEDE0"><h3 style="color:#8b5c7e ">@review_v2.Resources.MyTexts.Action</h3></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td style="position :center">
                                        @if (!string.IsNullOrEmpty(item?.UserImageURL))
                                        {
                                            <img class="img-circle img-sm" src="~/ProductsImages/@item.UserImageURL" width="75" height="75" alt="User Image">
                                        }
                                        else
                                        {
                                            <img class="img-circle img-sm" src="~/ProductsImages/defaultUser.jpg" width="75" height="75" alt="User Image">
                                        }
                                    </td>

                                    <td style="color:black">
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td style="color:black">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td style="color:black">
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    @if (User.Identity.Name == item.UserName)
                                    {

                                        <td style="color:black">
                                            @*@Html.ActionLink(@review_v2.Resources.MyTexts.Delete, "Delete", new { id = item.Id }, new { Style = "color:#8b5c7e;" })*@
                                        </td>
                                        <td style="color:black">
                                            @Html.ActionLink(@review_v2.Resources.MyTexts.Edit, "EditProfile", new { id = item.Id }, new { Style = "color:#8b5c7e;" })
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="color:black">
                                            @Html.ActionLink(@review_v2.Resources.MyTexts.Delete, "Delete", new { id = item.Id }, new { Style = "color:#8b5c7e;" })
                                        </td>
                                        <td style="color:black">
                                            @if (item.LockoutEnabled)
                                            {
                                                @Html.ActionLink(@review_v2.Resources.MyTexts.Block, "BlockUser", "Admin", new { id = item.Id, QueryString = "Admin" }, new { @class = "btn btn-danger" }) }
                                            else
                                            {
                                                @Html.ActionLink(@review_v2.Resources.MyTexts.UnBlock, "ReActivateUser", "Admin", new { id = item.Id, QueryString = "Admin" }, new { @class = "btn btn-success" })
                                            }
                                        </td>
                                    }

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
    </section>
</section>

















