@model IEnumerable<review_v2.Models.DBViews.ProductsSummaryView>

@{
    ViewBag.Title = "ProductsSummary";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using Microsoft.AspNet.Identity
<header class="header fixed-top clearfix">
    <!--logo start-->
    <div class="brand">
        <a href="/Home/Index" class="logo">
            REVIEWERY
        </a>
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
        </div>
    </div>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">


            <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
    </div>
    <div class="top-nav clearfix">
        <!--search & user info start-->
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            @*<li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    @if (!string.IsNullOrEmpty(Model?.CompanyImageURL))
                    {
                        <img class="img-circle img-sm" src="~/ProductsImages/@Model.CompanyImageURL" alt="User Image">
                    }
                    else
                    {
                        <img class="img-circle img-sm" src="~/ProductsImages/defaultUser.jpg" alt="User Image">
                    }
                    <span class="username">@User.Identity.GetUserName()</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                    <li>
                        <a href="/Admin/EditProfile/@Model.CompanyId">
                            <i class="fa fa-cog"></i>
                            @Html.HiddenFor(Model => Model.CompanyId)
                            Settings
                        </a>
                    </li>
                    <li><a href="Shared/_LoginPartial"><i class="fa fa-key"></i> Log Out</a></li>
                </ul>
            </li>*@
            <!-- user login dropdown end -->

        </ul>
        <!--search & user info end-->
    </div>
</header>

<section id="main-content">
    <section class="wrapper">
        <h2>@review_v2.Resources.MyTexts.ProductsSummary</h2>

    
        <table id="example1" class="table table-bordered table-agile-info">
            <tr>
                <th style="background-color:#DDEDE0">
                    <h3 style="color:#8b5c7e ">
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </h3>
                </th>
                <th style="background-color:#DDEDE0">
                    <h3 style="color:#8b5c7e ">
                        @Html.DisplayNameFor(model => model.Name)
                    </h3>
                </th>
                <th style="background-color:#DDEDE0">
                    <h3 style="color:#8b5c7e ">
                        @Html.DisplayNameFor(model => model.TotalPercentageRate)
                    </h3>
                </th>
                <th style="background-color:#DDEDE0">
                    <h3 style="color:#8b5c7e ">
                        @Html.DisplayNameFor(model => model.Category)
                    </h3>
                </th>
                <th style="background-color:#DDEDE0">
                    <h3 style="color:#8b5c7e ">
                        @Html.DisplayNameFor(model => model.AverageRate)
                    </h3>
                </th>
                <th style="background-color:#DDEDE0">
                    <h3 style="color:#8b5c7e ">
                        @Html.DisplayNameFor(model => model.ReviewsCount)
                    </h3>
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="color:black">
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td style="color:black">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="color:black">
                        @Html.DisplayFor(modelItem => item.TotalPercentageRate)
                    </td>
                    <td style="color:black">
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td style="color:black">
                        @Html.DisplayFor(modelItem => item.AverageRate)
                    </td>
                    <td style="color:black">
                        @Html.DisplayFor(modelItem => item.ReviewsCount)
                    </td>

                </tr>
            }

        </table>
    </section>
</section>



